/* This file is for your main application css. */
/* @import "./phoenix.css"; */



@import "../node_modules/nprogress/nprogress.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

body{
  font-family: 'Space Mono', monospace;
  max-width: 45em;
  margin: 16px auto auto;
  padding: 32px;
  color: rgba(255,255,255,0.67);
}

h1{
    color: #f59e0b ;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h2{
    color: #f9e0b;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  width:100%;
  text-align:center;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



 .nav-links {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 16px;
   text-align: center;
  }

.nav-links a{
  padding-left: 16px;
  padding-right: 16px;
}



a{
  color: rgba(255,255,255,0.67);
   width: auto;
  cursor: pointer;
  padding-bottom: 8px;
  border-radius: 2px;
  font-size: 1.1rem;
  text-decoration: none;
}

a:hover{
  color: #f59e0b;
}
.nav-links a:active{
  border: 0px;
}
.nav-links a:focus{
  border: 0px;
  outline: 0px;
}



th {
    border-bottom: 1px solid rgba(255,255,255,0.60) !important;

}
th,td {
  padding: 8px;
  text-align: left;
}



pre{
    white-space: pre-wrap;
    white-space: moz-pre-wrap;
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


pre code {
  background-color: rgba(255,255,255,0.08);
  display: block;
  padding: 20px;
}

/* LiveView specific classes for your customizations */

